In [1]:
dictionary = {123:[1,2,3],
              'Kemei':[4,5,3],
              'Mengich':4566
             
             }

In [2]:
print(dictionary['Kemei'][0])

4

In [3]:
print(dictionary.get('age'))

None

In [4]:
print(dictionary.get('age',55))

55

In [5]:
dictionary

{123: [1, 2, 3], 'Kemei': [4, 5, 3], 'Mengich': 4566}

dictionary2 = dict()

In [10]:
dictionary2 = dict(name='Johnte',school = 'KABARNET',place='University',age=19)

In [19]:
dictionary2['age']

19

In [20]:
# Dictionary MEthods 2

In [21]:
'name' in dictionary2

True

In [23]:
'school' in dictionary2.keys()

True

In [25]:
'school' in dictionary2.items()

False

In [27]:
dictionary2.items() # fetches the items in the dictionary

dict_items([('name', 'Johnte'), ('school', 'KABARNET'), ('place', 'University'), ('age', 19)])

In [28]:
print(dictionary.clear()) # clears the dictionary away

None

In [29]:
dictionary

{}

In [39]:
dictionary3 = dictionary2.copy() # copies the whole dictionary

In [40]:
dictionary3

{'name': 'Johnte', 'school': 'KABARNET', 'place': 'University', 'age': 19}

In [41]:
dictionary3.pop('age')

19

In [42]:
dictionary3

{'name': 'Johnte', 'school': 'KABARNET', 'place': 'University'}

In [43]:
dictionary3.popitem() # removes the last hing that what entered

('place', 'University')

In [45]:
dictionary3.update({'school':'Kimathi'})

In [46]:
dictionary3

{'name': 'Johnte', 'school': 'Kimathi'}

In [47]:
dictionary3.update({'class':'Mechatronics'}) # updates a value which did not even exist in the first place

In [48]:
dictionary3

{'name': 'Johnte', 'school': 'Kimathi', 'class': 'Mechatronics'}

In [49]:
# Tuples in python

In [70]:
# tuples are immutable lists
my_tuples=(1,2,3,4,5,5,7,3,7,43,7,6,3,5,7,9,5,7,2,1)
my_tuples[1]

2

In [71]:
my_tuples[2] = 'r'

TypeError: 'tuple' object does not support item assignment

In [72]:
5 in my_tuples

True

In [73]:
# tuples are faster than lists and cannot be changed
new_tuples = my_tuples[0:2]

In [74]:
new_tuples

(1, 2)

In [75]:
newtuples = my_tuples[2]

In [76]:
newtuples

3

In [77]:
x,y,z,*other = (1,2,3,4,5,5,7,3,7,43,7,6,3,5,7,9,5,7,2,1)

In [78]:
x

1

In [79]:
other

[4, 5, 5, 7, 3, 7, 43, 7, 6, 3, 5, 7, 9, 5, 7, 2, 1]

In [80]:
y

2

In [81]:
my_tuples.count(7) # counts the numbers of values in the tuples

5

In [82]:
my_tuples.index(5)

4

In [83]:
len(my_tuples)

20

In [84]:
# Sets in python

In [85]:
#sets are unordered collection of unique items

In [123]:
my_set = {1,2,3,4,5,6,7,}

In [87]:
my_set

{1, 2, 3, 4, 5}

In [113]:
my_set2 = {1,2,3,4,5,6,6,7,1}

In [90]:
my_set2 # the set only returns the unique value in the list, has no duplicate

{1, 2, 3, 4, 5, 6}

In [91]:
my_set.add(100)

In [92]:
my_set.add(2)

In [94]:
my_set # the set only added 100 but not 2. it adds only a unique value

{1, 2, 3, 4, 5, 100}

In [96]:
# you can alternatively convert a list to a set
my_list= [1,2,3,4,5,6,7]

In [98]:
set(my_list) # new set from a list

{1, 2, 3, 4, 5, 6, 7}

In [99]:
my_set

{1, 2, 3, 4, 5, 100}

In [100]:
my_set[0] # you can't index a set

TypeError: 'set' object is not subscriptable

In [110]:
 #instead
print(2 in my_set)

True

In [104]:
len(my_set)

6

In [105]:
list(my_set)

[1, 2, 3, 4, 5, 100]

In [106]:
new_set = my_set.copy() # copies the set

In [107]:
new_set

{1, 2, 3, 4, 5, 100}

In [108]:
new_set.clear() # clears the set

In [109]:
new_set

set()

In [111]:
 # methods of sets
your_set = {6,7,8,9,10,11}

In [116]:
my_set.difference(your_set) # finds the values that ARE different from the first set and eliminates the duplicates

{1, 2, 3, 4, 5}

In [117]:
my_set.discard(5) # removes and element from a set

In [119]:
my_set

{1, 2, 3, 4, 6, 7}

In [120]:
my_set.difference_update(your_set) # removes similar items from the other set
# and updates or modifies  it

In [121]:
my_set

{1, 2, 3, 4}

In [124]:
my_set.intersection(your_set) # sets the intersected values in the set.

{6, 7}

In [125]:
my_set.isdisjoint(your_set) # states if they have something in common

False

In [126]:
my_set.union(your_set) # unites the two sets and removes duplicates

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [127]:
my_set | your_set # can also be done this way

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [128]:
my_set.issubset(your_set) # states if it is insides the circle or is a subset of another set

False

In [131]:
my_set.issuperset(your_set)

False